#us-slider {
	margin: auto;
	width: 500px;
}

#world-slider {
	width: 1000px;
}

#map {
	float: left;
}

.axis {
	stroke-width: 0.8;
	stroke: #000;
}

.xTicks, .yTicks {
	stroke-width: 0.6;
	stroke: #000;
}

text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

path.line.current, path.line.USA.current {
	stroke: steelblue;
	stroke-width: 5;
}

path.line {
	stroke: #e2e2e2;
	stroke-width: 1.5;
	fill: none;
}

path.line.USA {
	stroke: #834C24;
	stroke-width: 3;
}

path.area {
	stroke: steelblue;
	stroke-width: 3;
	fill: lightsteelblue;
	opacity: 0.7
}

.grid .tick {
	stroke: #CCC;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}

.hidden {
	display: none;
}

div.tooltip {
	color: #222;
	background-color: #cce5ff;
	padding: .5em;
	text-shadow: #f5f5f5 0 1px 0;
	border-radius: 2px;
	opacity: 0.9;
	position: absolute;
}

path.line.selected-state-line, path.line.selected-sector-line, path.line.selected-country-line
	{
	stroke: #B00000;
	stroke-width: 5;
	fill: none;
}

.selected-state, .selected-country {
	fill: #B00000;
}

#states>path, #countries>path {
	stroke: #e2e2e2;
	stroke-width: 0.25;
}