#us-slider {
	width: 250px
}

#world-slider {
	width: 1000px
}

.axis {
	stroke-width: 0.8;
	stroke: #000;
}

.xTicks, .yTicks {
	stroke-width: 0.6;
	stroke: #000;
}

text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

path.line.current {
	stroke: #000;
	stroke-width: 5;
}

path.line {
	stroke: #e2e2e2;
	stroke-width: 1.5;
	fill: none;
}